@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 20px; /* Increase the gap for better spacing */
  border-radius: 15px; /* Add border-radius for a subtle rounded corner effect */
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text for both mobile and desktop */
}

.text h2 {
  font-size: 60px; /* Slightly reduce font size for better readability */
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 20px; /* Add margin for separation */
}

.text p {
  font-size: 28px; /* Adjust font size for better readability */
  font-weight: 400;
  letter-spacing: 1.5px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center links in mobile view */
  list-style: none;
  gap: 20px; /* Increase the gap for better spacing */
}

.link {
  display: flex;
  align-items: center;
  width: 100%; /* Set width to 100% to ensure equal width */
}

.link a {
  color: var(--color-primary); /* Use a contrasting color for links */
  text-decoration: none;
  font-size: 24px; /* Adjust font size for better readability */
  font-weight: 500; /* Increase font weight for links */
  letter-spacing: 1px; /* Slightly reduce letter-spacing */
  transition: color 0.3s ease; /* Add a smooth color transition on hover */
  width: 100%; /* Set width to 100% to ensure equal width */
}

.link a:hover {
  color: var(--color-accent); /* Change color on hover for emphasis */
}

/* Adjustments for mobile view */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 40px; /* Increase the gap for better spacing */
  }

  .text {
    align-items: center;
  }

  .links {
    align-items: center;
  }

  .link {
    gap: 5px; /* Adjust gap for better spacing */
  }

  .link a {
    font-size: 20px; /* Reduce font size for links in mobile view */
  }
}
